flask==1.1
gunicorn==19.9
Jinja2==2.11
MarkupSafe==1.1
Werkzeug==0.15
numpy>=1.9
scipy>=0.15
nltk==3.5
scikit-learn>=0.18
pandas>=0.19
beautifulsoup4==4.9
jsonschema==3.2
tmdbv3api==1.6
lxml==4.6
urllib3==1.26
requests==2.23
pickleshare==0.7
